*.o
*.d
*.sh_o
*.sh_d
*.exe
*.so
*.dll
PokeScrE.log
vgcore.*
/defines.dat
# /pksv
/tools/*
!/tools/*.c
!/tools/language_parser
/tools/language_parser/language-parser
tools/language_parser/language-def-lex.c
*.tab.[ch]
